<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{layouts/boardMain}">

<!-- layout:fragment로 content를 지정하여 내용만 작성 -->
<main layout:fragment="content">
    <div>
        <h1 th:text="${board.title}"></h1>
    </div>
    <board>
        <input type="hidden" id="board-id" th:value="${board.id}">
        <div>
            <!-- 날짜의 형식 지정, 작성 내용 가져오기 -->
            <div th:text="|작성자 : ${board.author}   ${#temporals.format(board.reg_dt, 'yyyy-MM-dd HH:mm')}|"></div>
            <div th:text="${board.content}"></div>
            <div>
                <!-- 수정 -->
                <button type="button" id="modify-btn"
                        th:onclick="|location.href='@{/new-board?id={boardId}(boardId=${board.id})}'|">수정</button>

                <!-- id 값인 delete-btn을 js가 조회하여 삭제 기능을 실행함. -->
                <button type="button" id="delete-btn">삭제</button>
            </div>
        </div>
    </board>
    <script src="/js/board/board.js"></script>
</main>
</html>