<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{layouts/boardMain}">

<!-- layout:fragment로 content를 지정하여 내용만 작성 -->
<main layout:fragment="content">
    <div>
        <h1>검색 결과</h1>
        <table class="table">
            <thead>
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>이름</th>
                <th>작성일</th>
            </tr>
            </thead>
            <tbody>
            <!-- th:each 를 사용하여 model 객체의 정보를 하나씩 item에 담아 내용 출력. -->
            <tr th:each="item : ${searchResult}">
                <td th:text="${item.id}"></td>
                <td>
                    <a th:href="@{/board/{id}(id=${item.id})}" th:text="${item.title}"></a>
                </td>
                <td th:text="${item.author}"></td>
                <td th:text="${#temporals.format(item.reg_dt, 'yyyy-MM-dd HH:mm')}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="btns2-wrap">
        <div class="btns2">
            <button type="button" class="btn btn-primary" th:onclick="|location.href='@{new-board}'|">글쓰기</button>
        </div>
    </div>
    <script src="/js/token.js"></script>
    <script src="/js/board/board.js"></script>
</main>
</html>