<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{layouts/boardMain}">

<!-- layout:fragment로 content를 지정하여 내용만 작성 -->
<section layout:fragment="content">
    <div>
        <h1>게시판 목록</h1>
        <table border="1" >
            <thead>
                <tr>
                    <th>NO</th>
                    <th>TITLE</th>
                    <th>NAME</th>
                    <th>DATE</th>
                </tr>
            </thead>
            <tbody> <!-- th:each 를 사용하여 model 객체의 정보를 하나씩 item에 담아 내용 출력. -->
                <tr th:each="item : ${board}" th:object="${item}">
                    <td th:text="${item.id}"></td>
                    <td>
                        <a th:href="@{/board/{id}(id=${item.id})}" th:text="${item.title}"></a>
                    </td>
                    <td th:text="${item.author}"></td>
                    <td th:text="${item.reg_dt}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
</html>