<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{layouts/boardMain}">

<!-- layout:fragment로 content를 지정하여 내용만 작성 -->
<main layout:fragment="content">
    <div>
        <h1 th:text="${board.title}"></h1>
    </div>
    <board>
        <input type="hidden" id="board-id" th:value="${board.id}">
        <div>
            <!-- 날짜의 형식 지정, 작성 내용 가져오기 -->
            <div th:text="|작성자 : ${board.author}   ${#temporals.format(board.reg_dt, 'yyyy-MM-dd HH:mm')}|"></div>
            <div th:text="${board.content}"></div>
            <div>
                <!-- 수정 -->
                <button type="button"
                        th:onclick="|location.href='@{/new-board?id={boardId}(boardId=${board.id})}'|">수정</button>

                <!-- id 값인 delete-btn을 js가 조회하여 삭제 기능을 실행함. -->
                <button type="button" id="delete-btn">삭제</button>
            </div>
        </div>
    </board>

    <!-- 댓글 영역 -->
    <div>
        <!-- 댓글 리스트 -->
        <h2>댓글 목록</h2>
        <ul>
            <li th:each="item : ${comments}">
                <input type="hidden" id="comment-id" th:value="${item.id}">
                <span th:text="|${item.author} : ${item.content}|"></span>
                <!-- 댓글 수정 -->
                <button type="button"
                        th:onclick="|location.href='/updateComment?boardId=${board.id}&id=${item.id}'|">수정</button>
            </li>
        </ul>

        <!-- 댓글 작성란 -->
        <h2>댓글 작성</h2>
        <form>
            <!-- commentAdd-id는 숨겨서 함께 요청  -->
            <input type="hidden" id="commentAdd-id" th:value="${commentAdd.id}">

            <!-- commentAdd-author 숨겨서 함께 요청  -->
            <input type="hidden" id="commentAdd-author" th:value="${board.author}">
            <!-- board.id 값을 숨겨서 함께 요청 -->
            <input type="hidden" id="commentAdd-boardId" th:value="${board.id}">

            <div>
                <label for="commentAdd-content">내용:</label>
                <textarea id="commentAdd-content" name="content" th:text="${commentAdd.content}"></textarea>
            </div>
            <button type="button" id="commentAdd-btn">댓글 작성</button>
        </form>
    </div>
    <script src="/js/token.js"></script>
    <script src="/js/board/board.js"></script>
</main>
</html>