<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{layouts/boardMain}">

<!-- layout:fragment로 content를 지정하여 내용만 작성 -->
<main layout:fragment="content">
    <div> <!-- 수정, 등록에 맞춰 현재 작업 제목을 노출함 -->
        <h1 th:if="${board.id} != null">글 수정</h1>
        <h1 th:if="${board.id} == null">글 등록</h1>
    </div>
    <div>
        <board>
            <!-- id 값을 숨겨서 id를 함께 요청 -->
            <input type="hidden" id="board-id" th:value="${board.id}">
            <div>
                <input type="hidden" id="author" th:value="${board.author}">
            </div>
            <div><!-- th:value로 title 값 요청 -->
                <input type="text" placeholder="제목 입력" id="title" th:value="${board.title}">
            </div>
            <div><!-- th:text로 content 값 응답받은 내용 출력 -->
                <textarea rows="10" placeholder="내용" id="content" th:text="${board.content}"></textarea>
            </div>
            <div><!-- th:if로 id가 있을 경우 수정, 없을 경우 등록 -->
                <button type="button" th:if="${board.id} != null" id="modify-btn">수정</button>
                <button type="button" th:if="${board.id} == null" id="create-btn">등록</button>
            </div>
        </board>
    </div>
    <script src="/js/board/board.js"></script>
</main>
</html>