<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<header th:fragment="header">
    <div class="">
        <a href="/admin/index" class="btn btn-primary">관리자메인</a>
        <div sec:authorize="isAuthenticated()">
            <!-- 로그인 중인 관리자 아이디 표시 -->
            <div>
                <!-- OAuth2로 인증되어 있을 때만 아래 내용이 노출됨 -->
                <span th:if="${#authentication instanceof T(org.springframework.security.oauth2.client.authentication.OAuth2AuthenticationToken)}"
                      th:text="|관리자 ${#authentication.principal.attributes.email}님 환영합니다.|"></span>

                <!-- 일반 회원가입 사용자일 때 -->
                <span th:unless="${#authentication instanceof T(org.springframework.security.oauth2.client.authentication.OAuth2AuthenticationToken)}"
                      th:text="|관리자 ${#authentication.principal.username}님 환영합니다.|"></span>
            </div>
            <button type="button" id="logout-btn" class="" onclick="location.href='/logout'">로그아웃</button>
        </div>
    </div>
    <hr/>
</header>
</html>