<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{layouts/boardMain}">

<!-- layout:fragment로 content를 지정하여 내용만 작성 -->
<main layout:fragment="content">
    <div>
        <h1>내 정보</h1>
        <input type="hidden" id="user-userNo" th:value="${currentUser.userNo}">
        <p>이메일: <span th:text="${currentUser.email}"></span></p>
        <p>이름: <span th:text="${currentUser.userNm}"></span></p>
        <p>전화번호: <span th:text="${currentUser.mobile}"></span></p>
    </div>

    <button type="button"
        th:onclick="|location.href='@{/changePassword}'|" >비밀번호 변경</button>

    <!-- 회원 탈퇴 폼 -->
    <form method="POST" action="/myPage/cancel-user">
        <button type="submit">회원 탈퇴</button>
    </form>
</main>
</html>