<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{layouts/boardMain}">

<!-- layout:fragment로 content를 지정하여 내용만 작성 -->
<main layout:fragment="content">
  <div class="introduce">
    <h1>메인 소개 페이지</h1>
    <h4><strong>회원 전용 게시판입니다.</strong></h4>
    <p><u>토큰 기반 OAuth 로그인과 Session 기반 로그인을 함께 구현</u>해 보고자 주제를 정하여 만들게 되었습니다.<br>
      일반 회원가입은 Session을 사용하여 가입이 가능하며 소셜 로그인으로는 구글 아이디로 OAuth 로그인이 가능합니다.</p>

    <h5><strong>Stacks</strong></h5>
    <div class="img-icons">
    <span><img src="/img/indexImg/java-icon.png" alt="java">Java(17) </span><span class="v-line2"></span>
    <span><img src="/img/indexImg/spring-icon.png" alt="spring">Spring </span><span class="v-line2"></span>
    <span><img src="/img/indexImg/springboot-icon.png" alt="springboot">SpringBoot(3.0.2)+JPA+Validation+Lombok </span><span class="v-line2"></span>
    <span><img src="/img/indexImg/thymeleaf-icon.png" alt="thymeleaf">Thymeleaf </span><span class="v-line2"></span>
    <span><img src="/img/indexImg/js-icon.png" alt="js">Javascript </span><span class="v-line2"></span>
    <span><img src="/img/indexImg/html-icon.png" alt="html">Html5 </span><span class="v-line2"></span>
    <span><img src="/img/indexImg/css-icon.png" alt="css">Css</span><span class="v-line2"></span>
    <span><img src="/img/indexImg/amazon-icon.png" alt="aws">aws</span>
    <h5><strong>Tools</strong></h5>
    <span><img src="/img/indexImg/intellij-icon.png" alt="intelliJ">IntelliJ</span><span class="v-line2"></span>
    <span><img src="/img/indexImg/mysql-icon.png" alt="mysql">MySQL</span><span class="v-line2"></span>
    <span><img src="/img/indexImg/gradle-icon.png" alt="gardle">Gardle</span><span class="v-line2"></span>
    <span><img src="/img/indexImg/git-icon.png" alt="git">Git</span><span class="v-line2"></span>
    <span><img src="/img/indexImg/tomcat-icon.png" alt="tomcat">Tomcat</span>
      <h5><strong>Collaboration</strong></h5>
      <span><img src="/img/indexImg/github-icon.png" alt="github">Github</span><span class="v-line2"></span>
      <span><img src="/img/indexImg/naverBlog.png" alt="naverBlog">Blog</span>
    </div>

    <hr>
    <h5><b>회원가입</b></h5>
    <p>1. Session기반 회원 가입 시 사용자가 입력해야 하는 부분은 <mark>유효성 검사로 안내됩니다.</mark><br>
      ㆍ형식과 빈칸, 잘못 입력 시 유효성 검증 메시지 노출<br></p>
    <p>2. 실제 사용자의 <mark>이메일을 인증해야만 가입이 가능</mark>합니다.<br>
      ㆍ유효시간, 메일 인증코드와 Session에 저장된 인증코드가 일치 확인.<br>
      ㆍ아이디 중복 여부 체크</p><br>

    <h5><b>로그인</b></h5>
    <p>1. Session 로그인 시 이메일, 비밀번호가 일치하지 않을 시 <mark>유효성 검사 메시지로 안내</mark>됩니다.<br>
      ㆍ로그인하지 않으면 글쓰기, 마이페이지 등 <mark>접근이 제한</mark>됩니다.<br></p>
    <p>2. OAuth 구글 로그인 시 로컬에는 액세스 토큰, 쿠키에는 리플레시 토큰을 발급합니다.</p><br>

    <h5><b>로그아웃</b></h5>
    <p>1. 로그아웃 시 <mark>각종 정보가 제거되고 무효화</mark>됩니다.<br>
      ㆍHTTP 세션 무효화<br>
      ㆍ사용자 인증정보 제거<br>
      ㆍ쿠키에 담긴 세션, 리프레시 토큰 제거</p><br>

    <h5><b>마이페이지</b></h5>
    <p>1. 로그인 중인 <mark>회원의 정보가 표시</mark>됩니다.</p><br>

    <h5><b>비밀번호 변경</b></h5>
    <p>1. DB에 담겨있는 <mark>기존 비밀번호와 일치한지 확인</mark>합니다.</p>
    <p>2. <mark>새로운 비밀번호, 새로운 비밀번호 확인으로 변경</mark>이 됩니다.<br>
      ㆍ유효성 검사는 필수로 진행됩니다.</p><br>

    <h5><b>회원탈퇴</b></h5>
    <p>1. <mark>기존 비밀번호와 동일할 경우 탈퇴가 진행</mark>됩니다.<br>
      ㆍ탈퇴 시 <u>다른 엔터티에 탈퇴 회원의 정보를 저장하고 User 엔터티에서는 정보 제거</u></p><br>


    <h5><b>관리자</b></h5>
    <p>1. 관리자 권한<mark>(ADMIN)이 있는 사용자만 접근이 가능</mark>합니다.<br>
    <p>2. 회원이 작성한 글 목록 리스트에 <mark>관리자 권한으로 게시글 삭제가 가능</mark>합니다.</p>
      <p>3. 회원의 정보 중 Role 권한에 <mark>USER, DIABLE 두 가지로 권한 변경이 가능</mark>합니다.</p>
      <p>4. <mark>관리자 권한으로 회원을 강제 탈퇴</mark> 시킬 수 있습니다. 이때, <mark>다른 엔터티에 탈퇴 정보 저장 후 제거</mark>됩니다.</p><br>

    <a href="https://blog.naver.com/kky5163" target="_blank">작업 정리 블로그</a><br>
    <a href="https://github.com/Giyong8504/memberBoard" target="_blank">GitHub</a>
    <h5><strong>부족한 점이 많겠지만 봐주셔서 감사합니다!</strong></h5>
    <button type="button" class="btn btn-primary" onclick="location.href='/board'">게시글 보러가기</button>
  </div>
</main>
</html>