<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{layouts/boardMain}">

<!-- layout:fragment로 content를 지정하여 내용만 작성 -->
<main layout:fragment="content">
  <div class="introduce">
    <h1>메인 소개 페이지</h1>
    <h4><strong>회원 전용 게시판입니다.</strong></h4>
    <p>토큰 기반 OAuth 로그인과 Session 기반 로그인을 함께 구현해 보고자 주제를 정하여 만들게 되었습니다.<br>
      일반 회원가입은 Session을 사용하여 가입이 가능하며 소셜 로그인으로는 구글 아이디로 OAuth 로그인이 가능합니다.</p>
    <hr>
    <h5>회원가입</h5>
    <p>1. Session기반 회원 가입 시 사용자가 입력해야 하는 부분은 유효성 검사로 안내됩니다.<br>
      ㆍ형식과 빈칸, 잘못 입력 시 유효성 검증 메시지 노출<br></p>
    <p>2. 실제 사용자의 이메일을 인증해야만 가입이 가능합니다.<br>
      ㆍ유효시간, 메일 인증코드와 Session에 저장된 인증코드가 일치 확인.<br>
      ㆍ아이디 중복 여부 체크</p><br>

    <h5>로그인</h5>
    <p>1. Session 로그인 시 이메일, 비밀번호가 일치하지 않을 시 유효성 검사 메시지로 안내됩니다.<br>
      ㆍ로그인하지 않으면 글쓰기, 마이페이지 등 접근이 제한됩니다.<br></p>
    <p>2. OAuth 구글 로그인 시 로컬에는 액세스 토큰, 쿠키에는 리플레시 토큰을 발급합니다.</p><br>

    <h5>로그아웃</h5>
    <p>1. 로그아웃 시 각종 정보가 제거되고 무효화됩니다.<br>
      ㆍHTTP 세션 무효화<br>
      ㆍ사용자 인증정보 제거<br>
      ㆍ쿠키에 담긴 세션, 리프레시 토큰 제거</p><br>

    <h5>마이페이지</h5>
    <p>1. 로그인 중인 회원의 정보가 표시됩니다.</p><br>

    <h5>비밀번호 변경</h5>
    <p>1. 기존 비밀번호와 새로운 비밀번호, 새로운 비밀번호 확인으로 변경이 됩니다.<br>
      ㆍ유효성 검사는 필수로 진행됩니다.</p><br>

    <h5>회원탈퇴</h5>
    <p>1. 기존 비밀번호와 동일할 경우 탈퇴가 진행됩니다.<br>
      ㆍ탈퇴 시 다른 엔터티에 탈퇴 회원의 정보를 저장하고 User 엔터티에서는 정보 제거.</p><br>


    <h5>관리자</h5>
    <p>1. 관리자 권한(ADMIN)이 있는 사용자만 접근이 가능합니다.<br>
    2. 회원이 작성한 글 목록 리스트에 관리자 권한으로 게시글 삭제가 가능합니다.<br>
    3. 회원의 정보 중 Role 권한에 USER, DIABLE 두 가지로 권한 변경이 가능합니다.<br>
      4. 관리자 권한으로 회원을 강제 탈퇴 시킬 수 있습니다. 이때, 다른 엔터티에 탈퇴 정보 저장 후 제거됩니다.</p><br>

    <a href="https://blog.naver.com/kky5163" target="_blank">작업 정리 블로그</a><br>
    <a href="https://github.com/Giyong8504/memberBoard" target="_blank">GitHub</a>
    <h5><strong>부족한 점이 많겠지만 봐주셔서 감사합니다!</strong></h5>
    <button type="button" class="btn btn-primary" onclick="location.href='/board'">게시글 보러가기</button>
  </div>
</main>
</html>