html { font-size: 15px; }
ul, ol, li { list-style: none; }
h1{
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-bottom: 15px;
}

table{
  width: 100%;
  table-layout: fixed;
}

td{
  padding: 15px;
  font-weight: 300;
  font-size: 15px;
  word-break: break-all;
}

.th-1 {
    width: 100px;
}


/* 게시글 메인 */
main{
  margin-top: 50px;
  margin-left: 150px;
  margin-right: 150px;
  min-height: 600px;
}

menu {
    padding: 0;
    margin: 0;
}

/* 네비게이션 바 스타일 */
nav {
    margin: 0;
    height: 100%;
    background-color: #f8f9fa;
}

/* header flex 부모 */
.adminHeaderParent {
    display: flex;
    margin: 1px;
    padding: 10px;

}
/* header 로고부분 */
.adminHeaderChild-left {
    justify: space-between;
    width: 250px;
    height: 100px;
}

/* header 로그인, 회원가입 버튼 부분 */
.adminHeaderChild-right {
    margin-left: auto;
    justify: space-between;
    height: 100px;
}

/* 로고 */
nav .adminLogo img {
    margin: 25px;
    width: 130px;
    height: 53px;
}

/* 로그인, 로그아웃 버튼 버튼 */
.admin-login {
    margin-right: 10px;
    margin-top: 28px;
}

/* 푸터 */
.footer-wrap {
    text-align: center;
    padding: 30px;
    color: #888;
    font-size: 12px;
}
.footer-email {
    font-size: 14px;
    color: #000
}

/* 유저 권한 변경 */
.userUpdateByAdmin-btn {
    background-color: #198754;
    border: none;
    border-radius: 3px;
    font-size: 15px;
    color: #fff;
    font-weight: 300;
    width: 50px;
    height: 30px;
}
/* 유저 강제 탈퇴, 글 삭제 버튼 */
.userDeleteByAdmin-btn,
.adminDelete-btn {
    background-color: #dc3545;
    border: none;
    border-radius: 3px;
    font-size: 15px;
    color: #fff;
    font-weight: 300;
    width: 50px;
    height: 30px;
}

/* 사이드 메뉴 */
.sidebar {
    background-color: #606060;
    width: 250px;
    height: 100%;
}

.menuTextUl {
    margin-left: 0;
    padding: 10px;;
}

.menuTextLi {
    padding-top: 20px;
}

.menuText {
    margin-left: 30px;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
}

.parent1 {
    display: flex;
    min-height: 700px;
}
.child1-left {
    justify: space-between;
    width: 300px;
    height: 500px;
}

.child2-right {
    margin: 50px;
    justify: space-between;
    width:100%;
    height: 100%;
}
