<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="footer">
    <div class="footer-wrap">
        <span class="footer-email">Email : kky5163@naver.com</span>
        <span>© Copyright Kim Giyong.</span>
        <span>
            <a href="https://blog.naver.com/kky5163"><img src="/img/naverBlog.png" width="40" height="40"></a></span>
        <span>
            <a href="https://github.com/Giyong8504/memberBoard"><img src="/img/github.png" width="40" height="40"></a></span>
    </div>
</footer>
</html>