<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<header th:fragment="header">
    <div class="">
        <a href="/" class="btn btn-primary">메인으로</a>

        <ul class="">
            <li><a href="/board" class="">Board</a></li>
            <li><a href="#">about</a></li>
        </ul>
        <div> <!-- 게시글 검색 -->
            <form class="" method="GET" th:action="@{/board/search}" >
                <label for="keyword"></label>
                <input type="text" id="keyword" name="keyword" placeholder="검색입력.." required>
                <button type="submit">검색</button>
            </form>
        </div>

        <!-- 로그인하지 않았을 경우 노출 / 로그인 후 사라짐-->
        <div class="" sec:authorize="isAnonymous()">
            <button type="button" class="" onclick="location.href='/login'">로그인</button>
            <button type="button" class="" onclick="location.href='/join'">회원가입</button>
        </div>

        <!-- 로그인 했을 경우 노출되는 버튼 / 로그아웃 후 사라짐 -->
        <div sec:authorize="isAuthenticated()">
            <!-- 로그인 중 로그인 아이디, 이름 표시 -->
<!--            <th:block th:text="${#messages.msg('login.msg', session.userInfo.userNm, session.userInfo.email)}"></th:block>-->

            <a th:href="@{/myPage}">마이페이지</a>
            <button type="button" id="logout-btn" class="" onclick="location.href='/logout'">로그아웃</button>
        </div>
    </div>
    <hr/>
</header>
</html>