<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="userFooter">
  <div class="footer-imgText">
    <a th:href="@{/}" target="_blank">
          <img src="/img/logo.png" width="50" height="20" alt="로고">
    </a>
    <span>© Copyright </span>
    <span>Kim Giyong.</span>
    <span>
            <a href="https://blog.naver.com/kky5163" target="_blank"><img src="/img/naverBlog.png" width="30" height="30"></a></span>
    <span>
            <a href="https://github.com/Giyong8504/memberBoard" target="_blank"><img src="/img/github.png" width="30" height="30"></a></span>
  </div>
  <div class="footer-imgText2">
    Email : kky5163@naver.com
  </div>
</footer>
</html>